# --- Entornos Virtuales y Cache ---
venv/
__pycache__/
*.pyc

# --- Archivos de Configuración y Secretos (JAMÁS SUBIR) ---
.env
credentials.json
token.json

# --- Sesiones de Telegram (Esto daría acceso a tu cuenta) ---
*.session
*.session-journal

# --- Archivos Temporales ---
downloads/
logs/
test/
data/
test_main.py

# --- IDEs (Opcional) ---
.vscode/
.idea/
uninstall.md